
*{
    box-sizing: border-box;
}


body{
    font-family: roboto;
}
.header{
    background: #e43d12;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 16px;
    
}
.list1{
list-style: none;
display: flex;
justify-content: space-evenly;
margin-right: auto; 
gap: 16px;

}



button{
    background: rgb(9, 202, 193);
    font-family: roboto;
    color: white;
  width: 90px;
  height: 24px;
  font-size: 16px
  
}

.heading2{
    display: inline-flex;
    flex-direction: column;
    justify-content: right;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;


}


.heading-image{
    display: flex;
    flex-direction: row;
 top: 20px;
 right: 350px;
}

.cat-facts{
    background-color: #d6536d;
   display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    gap:0;
}
.heading3{
    display: flex;
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}


.cat-history{
    background-color: #ffa2b6;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 0;

}

.cat-beauty{
    background-color: #c2cad0;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 0;
}



.reference{
    background-color: #d1e8e2;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}

.footer{
    background: #c2b9b0;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 2px;
}